<div class="main-content">
  <div class="section-content section-content-p30">
    <h3>{{currentCategoryName}}</h3>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3" *ngFor="let product of products">
          <div class="product-box">
            <a routerLink="/products/{{product.id}}">
              <img src="{{product.imageUrl}}" class="img-responsive" alt="product-image">
            </a>
            <a routerLink="/products/{{product.id}}">
              <h1>{{ product.name }}</h1>
            </a>
            <div class="price">{{product.unitPrice | currency: 'USD'}}</div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
        <!-- Add an error message to display if no product was found -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
          No product found.
        </div>
      </div>
    </div>
  </div>
</div>
