<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form action="" [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <!--        Customer-->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-2"><label>Fist Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="firstName">

                <div class="alert alert-danger mt-1"
                     *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                  <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhiteSpace">
                    First name is required
                  </div>
                  <div *ngIf="firstName.errors.minlength">
                    First name must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Last Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="lastName">
                <div class="alert alert-danger mt-1" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                  <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhiteSpace">
                    Last name is required
                  </div>
                  <div *ngIf="lastName.errors.minlength">
                    Last name must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="email">
                <div class="alert alert-danger mt-1" *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.pattern">Email must be a valid email</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--        Shipping Address-->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>

          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('shippingAddress')">
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{country.name}}
                  </option>
                </select>
                <div class="alert alert-danger mt-1"
                     *ngIf="shippingAddrCountry.invalid && (shippingAddrCountry.dirty || shippingAddrCountry.touched)">
                  <div *ngIf="shippingAddrCountry.errors.required">
                    Country is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="street">

                <div class="alert alert-danger mt-1"
                     *ngIf="shippingAddrStreet.invalid && (shippingAddrStreet.dirty || shippingAddrStreet.touched)">
                  <div *ngIf="shippingAddrStreet.errors.required || shippingAddrStreet.errors.notOnlyWhiteSpace">
                    Street is required
                  </div>
                  <div *ngIf="shippingAddrStreet.errors.minlength">
                    Street must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="city">

                <div class="alert alert-danger mt-1"
                     *ngIf="shippingAddrCity.invalid && (shippingAddrCity.dirty || shippingAddrCity.touched)">
                  <div *ngIf="shippingAddrCity.errors.required || shippingAddrCity.errors.notOnlyWhiteSpace">
                    City is required
                  </div>
                  <div *ngIf="shippingAddrCity.errors.minlength">
                    City must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option *ngFor="let state of shippingAddrStates" [ngValue]="state">
                    {{state.name}}
                  </option>
                </select>
                <div class="alert alert-danger mt-1"
                     *ngIf="shippingAddrState.invalid && (shippingAddrState.dirty || shippingAddrState.touched)">
                  <div *ngIf="shippingAddrState.errors.required">
                    State is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="zipCode">

                <div class="alert alert-danger mt-1"
                     *ngIf="shippingAddrZipCode.invalid && (shippingAddrZipCode.dirty || shippingAddrZipCode.touched)">
                  <div *ngIf="shippingAddrZipCode.errors.required || shippingAddrZipCode.errors.notOnlyWhiteSpace">
                    Zip Code is required
                  </div>
                  <div *ngIf="shippingAddrZipCode.errors.minlength">
                    Zip Code must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--        Add a checkbox to copy the shipping details to billing details-->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAddrToBillingAddr($event)">
            <span class="au-checkmark"></span>Billing Address same as Shipping Address
          </label>
        </div>
        <!--        Billing Address-->
        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>

          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('billingAddress')">
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{country.name}}
                  </option>
                </select>

                <div class="alert alert-danger mt-1"
                     *ngIf="billingAddrCountry.invalid && (billingAddrCountry.dirty || billingAddrCountry.touched)">
                  <div *ngIf="billingAddrCountry.errors.required">
                    Country is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="street">

                <div class="alert alert-danger mt-1"
                     *ngIf="billingAddrStreet.invalid && (billingAddrStreet.dirty || billingAddrStreet.touched)">
                  <div *ngIf="billingAddrStreet.errors.required || billingAddrStreet.errors.notOnlyWhiteSpace">
                    Street is required
                  </div>
                  <div *ngIf="billingAddrStreet.errors.minlength">
                    Street must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="city">
                <div class="alert alert-danger mt-1"
                     *ngIf="billingAddrCity.invalid && (billingAddrCity.dirty || billingAddrCity.touched)">
                  <div *ngIf="billingAddrCity.errors.required || billingAddrCity.errors.notOnlyWhiteSpace">
                    City is required
                  </div>
                  <div *ngIf="billingAddrCity.errors.minlength">
                    City must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option *ngFor="let state of billingAddrStates" [ngValue]="state">
                    {{state.name}}
                  </option>
                </select>
                <div class="alert alert-danger mt-1"
                     *ngIf="billingAddrState.invalid && (billingAddrState.dirty || billingAddrState.touched)">
                  <div *ngIf="billingAddrState.errors.required">
                    State is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="zipCode">
                <div class="alert alert-danger mt-1"
                     *ngIf="billingAddrZipCode.invalid && (billingAddrZipCode.dirty || billingAddrZipCode.touched)">
                  <div *ngIf="billingAddrZipCode.errors.required || billingAddrZipCode.errors.notOnlyWhiteSpace">
                    Zip Code is required
                  </div>
                  <div *ngIf="billingAddrZipCode.errors.minlength">
                    Zip Code be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--        Credit Card-->
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card Info</h3>
          <div class="row">
            <div class="col-md-2"><label>Card Type</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>VISA</option>
                  <option>MASTERCARD</option>
                </select>
                <div class="alert alert-danger mt-1"
                     *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)">
                  <div *ngIf="creditCardType.errors.required">
                    Card Type is required
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Name On Card</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="nameOnCard">
                <div class="alert alert-danger mt-1"
                     *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)">
                  <div *ngIf="creditCardNameOnCard.errors.required || creditCardNameOnCard.errors.notOnlyWhiteSpace">
                    Name is required
                  </div>
                  <div *ngIf="creditCardNameOnCard.errors.minlength">
                    Name must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Card Number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="cardNumber">

                <div class="alert alert-danger mt-1"
                     *ngIf="creditCardCardNumber.invalid && (creditCardCardNumber.dirty || creditCardCardNumber.touched)">
                  <div *ngIf="creditCardCardNumber.errors.required">
                    Number is required
                  </div>
                  <div *ngIf="creditCardCardNumber.errors.pattern">
                    Number must be 16 characters
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Security Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="securityCode">
                <div class="alert alert-danger mt-1"
                     *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)">
                  <div *ngIf="creditCardSecurityCode.errors.required">
                    Code is required
                  </div>
                  <div *ngIf="creditCardSecurityCode.errors.pattern">
                    Code must be 3 characters
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Expiration Month</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option *ngFor="let month of creditCardMonths">{{month}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Expiration Year</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationYear" (change)="handleYearsAndMonth()">
                  <option *ngFor="let year of creditCardYears">{{year}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!--        Review order-->
        <div class="form-area">
          <h3>Review your order</h3>
          <p>Total Quantity: {{totalQuantity}}</p>
          <p>Total Price: {{totalPrice | currency: 'USD'}}</p>
        </div>

        <!--        Submit Button-->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>

      </form>

    </div>
  </div>
</div>
